# IDE directories
.vs/
.vscode/

# SVN repositories
261924/

# Build directories
bin/
build/

# Additional build files
*.exe
*.pdb
*.ilk

# Ignored courses
analiza/
algebra/
fizyka/
chemia/
grafika_inzynierska/
historia_techniki/
english/
human_sciences/
law/
lab_fizyka/
discrete/
LSF/

# Additional directories
people/
memes/
